.header {

    height: 64px;

    background-color: var(--header);

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 24px;

    border-bottom: 1px solid var(--border);

    user-select: none;

}

.header h1 {

    font-size: var(--font-title);
    font-weight: var(--font-weight-semibold);

    letter-spacing: 1px;

    color: var(--text);

}

.header span {

    color: var(--text-secondary);

    font-size: 14px;

}